name: Milestone 2 Pipeline

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]  # Triggers on tags like v1.0.0

env:
  PROJECT_ID: mlops-milestone1-486120
  REGION: us-central1
  REPO_NAME: mlops-repo
  IMAGE_NAME: housing-api-v2

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r module3/milestone2/app/requirements.txt

      - name: Run Tests
        run: |
          pytest module3/milestone2/tests/

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    # Only run this step if we pushed a tag (v1.0.0)
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Google Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Login to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: us-central1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GCP_SA_KEY }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./module3/milestone2
          push: true
          tags: |
            us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
            us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest
